@import url(http://fonts.googleapis.com/css?family=Francois+One);

.login-page .login-body {
    position: fixed;
    left: 50%;
    top: 340px;
    width: 500px;
    margin-left: -250px;
    margin-top: -200px;
}

.login-body .fields input {
    display: block;
    width: 100%;
    line-height: 16pt;
    padding: 4px;
    font-size: 17px;
}

.login-body .fields {
    margin-bottom: 10px;
}

.login-body form {
    display: block;
    width: 250px;
    margin: auto;
}

.login-body form button {
    margin-top: 2px;
    font-weight: normal;
    padding: 6px;
}

/* --------------------- */

.footer-login {
    margin-top: 360px;
}

.footer-wrap {
    border-top: 1px solid #e7e8e7;
    max-width: 800px;
    margin: 10px auto 0;
    padding: 10px 0 20px;
    font-size: 12px;
}

/* --------------------- */

.compose-title, .compose-slug {
    width: 100%;
    line-height: 16pt;
    padding: 4px;
}

.compose-markdown {
    width: 100%;
    height: 500px;
    line-height: 16pt;
    padding: 4px;
}

.compose-submit {
    font-weight: normal;
    padding: 6px;
}

.compose-element {
    margin-bottom: 5px;
}

.compose-published, label {
    font-weight: normal;
}

/* --------------------- */

.about-paragraph-content {
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 24px;
}

.journal-markdown {
    width: 100%;
    height: 90px;
    line-height: 16pt;
    padding: 4px;
}

/* --------------------- */

body {
    font: 16px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
}

a, a:hover {
    color: #0088cc;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px 0;
    position: relative;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 16px;
}

article {
    margin: auto;
}

.article-ul {
    list-style-type: none;
    padding: 0;
    line-height: normal;
}

article ul li {
    margin-bottom: 10px;
}

.date-display {
    font-size: 11px;
}

.entry-body {
    margin-top: 1em;
    font-size: 14px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    line-height: 25px;
}


.contest-page-wrap {
    padding: 20px 0 20px;
    max-width: 740px;
    margin: 0 auto;
}

/* --------------------- */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 760px) {
    .container {
        width: 650px;
    }
}
@media (min-width: 900px) {
    .container {
        width: 850px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.container:before {
    content: " ";
    display: table;
}
.container:after {
    content: " ";
    display: table;
    clear: both;
}

.page-head {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: 'Francois One', sans-serif;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
}

.navbar-korn .navbar-inner {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 1px solid #e8e8e8;
}

.navbar-korn .nav a {
    font-family: 'Francois One', sans-serif;
    font-size: 18px;
    color: #0088cc;
    -webkit-transition: padding-bottom .1s ease-in-out, border-top .1s ease-in-out;
    -moz-transition: padding-bottom .1s ease-in-out, border-top .1s ease-in-out;
    -ms-transition: padding-bottom .1s ease-in-out, border-top .1s ease-in-out;
}

.navbar-korn .nav a:hover, .navbar-korn .nav .active a {
    color: #0088cc;
}

.navbar-korn .nav .active a {
    border-top: 3px solid #179cde;
    padding-bottom: 14px;
}

.navbar-korn .nav .normal a {
    border-top: 3px solid #ffffff;
    padding-bottom: 14px;
}

.navbar-korn .nav li a:hover {
    border-top: 3px solid #179cde;
    padding-bottom: 14px;
}

.navbar-korn .nav a, .navbar-korn .nav a:hover, .navbar-korn .nav a:focus {
    background-color: transparent;
}

.nav {
    color: #a2a2a2;
    font-size: 15px;
    float: right;
}

.nav-pills > li > a {
    font-size: 15px;
    padding: 8px 17px;
    border-radius: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #f0f6fa;
    text-decoration: none;
}
