<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Archive</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/blog.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container clearfix tl_page_container ">
    <div class="tl_page">
        <div class="tl_contest_page_wrap">
            <h1 id="dev_page_title">Archive</h1>

        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>