<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{ui.title.draft}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/blog.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container clearfix">
    <div class="contest-page-wrap">
        <article>
            <h1 th:text="#{ui.title.draft}"></h1>
            <ul th:class="article-ul" th:each="entry : ${draftEntries}">
                <li>
                    <a th:href="@{/compose/{slug}(slug=${entry.slug})}" th:text="${entry.title}"></a>
                    <div th:class="date-display" th:text="${#dates.format(entry.updatedDate, 'dd.MM.yyyy HH:mm')}"></div>
                </li>
            </ul>
        </article>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>