<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{ui.title}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/blog.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container clearfix">
    <div class="contest-page-wrap">
        <article>
            <div th:each="entry : ${entries}">
                <h1><a th:href="@{/entry/{slug}(slug=${entry.slug})}"><span th:text="${entry.title}"></span></a></h1>
                <div th:class="date-display">By Korn Kutan&nbsp;·&nbsp;<span th:text="${#dates.format(entry.publishedDate, 'dd.MM.yyyy HH:mm')}"></span><span th:if="${#authorization.expression('isAuthenticated()')}">&nbsp;-&nbsp;<a th:href="@{/compose/{slug}(slug=${entry.slug})}" th:text="#{ui.link.edit}"></a></span>
                </div>
            </div>
        </article>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>