<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/blog.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container clearfix">
    <div class="contest-page-wrap">
        <h1>Journal</h1>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <textarea name="markdown" rows="6" cols="40" class="journal-markdown" placeholder="Content"></textarea>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>